<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>랭크</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="frame">
        <nav class="header">
            <img src="{% static 'img/logo.png' %}" alt="로고">
            <ul>
                <li><a href="{% url 'main' %}" class="neon-effect">홈</a></li>
                <li><a href="{% url 'gamerule' %}" class="neon-effect">게임방법</a></li>
                <li><a href="{% url 'rank' %}" class="neon-effect">랭킹</a></li>
                <li><a href="{% url 'comunity' %}" class="neon-effect">커뮤니티</a></li>
                <li><a href="{% url 'mypage' %}" class="neon-effect">내정보</a></li>
            </ul>
        </nav>

        <div class="ranking-container">
            <h1>Leaderboard</h1>
            <table id="leaderboard">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody id="ranking-body" data-goldmedal="{% static 'img/gold.png' %}" data-silvermedal="{% static 'img/silver.png' %}" data-bronzemedal="{% static 'img/bronze.png' %}">
                    <!-- JavaScript에서 데이터 삽입 -->
                </tbody>
            </table>
        </div>

        <div class="footer"></div>
    </div>

    <script src="{% static 'js/rank.js' %}"></script>
</body>
</html>
