<!-- /templates/kpopcard1_start.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARD1</title>
</head>
<body>
    <div class="frame">
        <nav class="navigator">
            <!-- 내비게이션 코드 -->
        </nav>

        <div class="video-container">
            <!-- Flask의 비디오 스트림을 iframe으로 불러오기 -->
            <iframe src="http://127.0.0.1:5000/video_feed" width="640" height="480" frameborder="0" allowfullscreen></iframe>
        </div>

        <footer class="footer"></footer>
    </div>
</body>
</html>
